{% extends 'base.html' %}

{% block content %}

<div class="card shadow-sm col-md-6 mx-auto">

    <div class="card-header bg-dark text-white">
        <h3 class="mb-0">Register Scheme Customer</h3>
    </div>

    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Full Name</label>

                <input type="text"
                       name="full_name"
                       class="form-control"
                       required>
            </div>

            <div class="mb-3">
                <label class="form-label">NIN Number</label>

                <input type="text"
                       name="nin_number"
                       class="form-control"
                       maxlength = "14"
                       minlength = "14"
                       required>
            </div>

            <div class="mb-3">
                <label class="form-label">Phone Number</label>

                <input type="text"
                       name="phone_number"
                       class="form-control"
                       maxlength = "10"
                       minlength = "10"
                       required>
            </div>

            <div class="mb-3">
                <label class="form-label">Address</label>

                <textarea name="address"
                          rows="3"
                          class="form-control"
                          required></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Occupation</label>

                <input type="text"
                       name="occupation"
                       class="form-control">
            </div>

            <button type="submit"
                    class="btn btn-dark">
                Register Customer
            </button>

            <a href="{% url 'scheme_customer_list' %}"
               class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>
</div>

{% endblock %}