{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3 ">
    <h2>Stock Received</h2>
</div>

<div class="d-flex justify-content-end gap-2 mb-3">
            <a href="{% url 'create_receipt' %}" class="btn btn-warning">Record Stock Received</a>
            <a href="{% url 'stock_report' %}" class="btn btn-secondary">Stock Report</a>
            <a href = "{%url 'supplier_report' %}" class="btn btn-dark">Supplier Report</a>
        </div>

<table class="table table-bordered table-striped shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Product</th>
            <th>Supplier</th>
            <th>Quantity</th>
            <th>SellingPrice</th>
            <th>Amount Paid</th>
            <th>Unit Cost</th>
            <th> Supplier Paid?</th>
            <th>Date</th>
            <th>Actions</th>
            
        </tr>
    </thead>

    <tbody>
        {% for receipt in receipts %}
        <tr>
            <td>{{ receipt.product}}</td>
            <td>{{ receipt.supplier}}</td>
            <td>{{ receipt.quantity }}</td>
            <td>{{ receipt.unit_cost }}</td>
            <td>{{ receipt.amount_paid }}</td>
            <td>{{ receipt.selling_price }}</td>
        

            <td>
                {% if receipt.is_paid %}
                    <span class="badge bg-success">Paid</span>
                {% else %}
                    <span class="badge bg-danger">Not Paid</span>
                {% endif %}
            </td>
            <td>{{ receipt.date }}</td>
            <td>
                <a href="{% url 'goods_received_note' receipt.id %}" class="btn btn-dark btn-sm">GRN</a>
                <a href="{% url 'stock_edit' receipt.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'delete_receipt' receipt.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8" class="text-center">No stock receipts found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}