{% extends 'base.html' %} {% block content %}

<div class="card shadow-sm col-md-6 mx-auto">
  <div class="card-header bg-dark text-white">
    <h3 class="mb-0">Record A Sale</h3>
  </div>

  <div class="card-body">
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}

      <div class="mb-3">
        <label class="form-label">Product</label>

        <select
          name="product"
          id="productSelect"
          class="form-select"
          required
          onchange="showUnitPrice(this)"
        >
          <option value="">Select product</option>

          {% for product in products %}
          <option
            value="{{ product.id }}"
            data-price="{{ product.selling_price }}"
          >
            {{ product.product_name }} | {{ product.category_name.category_name
            }}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label>Customer</label>
        <select name="customer" class="form-select" required>
          <option value="">Select Customer</option>
          {% for customer in customers %}
          <option value="{{ customer.id }}">
            {{ customer.full_name }} - {{ customer.customer_type }}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Selling Price</label>
        <input
          type="text"
          id="sellingPrice"
          class="form-control"
          readonly
          placeholder="Select a product"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Quantity</label>
        <input
          type="number"
          name="quantity"
          class="form-control"
          min="1"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Distance (km)</label>
        <input
          type="number"
          name="distance"
          class="form-control"
          min="0"
          step="0.01"
        />
      </div>

      <button type="submit" class="btn btn-warning">Save Sale</button>
      <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  function showUnitPrice(select) {
    const price = select.options[select.selectedIndex].dataset.price;
    document.getElementById("sellingPrice").value = price ? price : "";
  }
</script>
{% endblock %}
